extends layout.pug
include mixins/ticket-list.pug

block content
  main.page-content
    if !newestOffers
      .message
        .message__text
          p На сайте еще не опубликовано ни одного объявления.
        a.message__link.btn.btn--big(href='/login') Вход и регистрация
    else
      include partials/categories.pug

      +ticketList(`Самые новые предложения`, `Самое свежее`, newestOffers)
      +ticketList(`Самые обсуждаемые предложения`, `Самые обсуждаемые`, mostCommentedOffers)
